:root {
    --color-one: #FEDA00;
    --color-two: #FFA300;
    --color-three: #D94E2D;
    --color-four: #7B2601;
    --color-five: #270D00;
}


.main-two>p {
    height: 130px;
    width: 300px;
    background-image: url("../img/prices/title_prices.webp");
    background-position: center;
    background-size: contain;
    margin-top: 20px;
    border-radius: 10px;
}

.grid-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.prices {
    position: relative;
    width: 500px;
    background-position: center;
    border-radius: 10px;
    background-repeat: no-repeat;
}

.prices:nth-child(1) {
    height: 160px;
    background-image: url("../img/prices/prices_table.webp");
    background-size: contain;
    display: flex;
    justify-content: center;
}

.columns {
    height: 100%;
    width: 81%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF5E9;
    border-radius: 10px;
}

.column {
    height: 95%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* filter: opacity(0.2); */
}

.column:nth-child(1) {
    margin-left: 10%;
}

.column:nth-child(2) {
    margin-right: 10.2%;
}

.links-btn {
    text-decoration: none;
    height: fit-content;
    color: rgb(56, 55, 37);
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-radius: 5px;
    transition: all 200ms;
}

.links-btn>p:first-child {
    padding-left: 1%;
}

.links-btn>p:last-child {
    padding-right: 1%;
}

.links-btn:hover {
    color: rgb(0, 0, 0);
    background-color: rgba(185, 93, 13, 0.354);
    scale: 1.03;
}

.prices:nth-child(2) {
    background-image: url("../img/prices/info_prices.webp");
    background-size: contain;
    height: 190px;
}


.prices:nth-child(3) {
    background-image: url("../img/prices/further_info_prices.webp");
    background-size: contain;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prices>.contact {
    min-width: 52.4%;
    min-height: 27.74%;
    margin-top: 14.27%;
    margin-left: 0.39%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 30px;
    font-weight: 900;
    color: var(--color-four);
    border: 1px solid;
    border-radius: 20px;
    transition: all 200ms;
}

.prices>.contact:hover {
    color: #D94E2D;
    background-color: rgba(55, 55, 55, 0.09);
}

@media screen and (max-width:516px)  {
    .main-two>p {
        height: 120px;
        width: 280px;
    }
    
    .prices {
        height: 140px;
        width: 420px;
    }
    
    .prices:nth-child(2), .prices:nth-child(3) {
        height: 160px;
    }
}

@media screen and (max-width:436px) {
    .prices {
    height: 122px;
    width: 370px;
    }
    .prices:nth-child(2), .prices:nth-child(3) {
        height: 140px;
    }
}