:root {
    --color-one: #FEDA00;
    --color-two: #FFA300;
    --color-three: #D94E2D;
    --color-four: #7B2601;
    --color-five: #270D00;
}

@font-face {
    font-family: "Major Mono Display-Regular";
    src: url('../fonts/Major_Mono_Display/MajorMonoDisplay-Regular.ttf');
    src: url('../fonts/Major_Mono_Display/MajorMonoDisplay-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: "Righteous-Regular";
    src: url('../fonts/Righteous/Righteous-Regular.ttf');
    src: url('../fonts/Righteous/Righteous-Regular.ttf') format('TrueType');
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
}

body {
    color: white;
    height: 100vh;
    overflow-x: hidden;
    user-select: none;
}

header {
    background-color: var(--color-five);
    position: relative;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    height: 300px;
    width: 300px;
    background-image: url("../img/favicon.webp");
    background-size: 200%;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    background-color: var(--color-four);
    position: relative;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

main>p {
    margin-top: 20px;
    font-family: "Righteous-Regular";
    font-size: 25px;
    color: var(--color-two);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

span {
    width: 0;
    height: 0;
    border-right: 8px  solid transparent;
    border-left: 8px  solid transparent;
}

.top {
    border-top: 16px solid var(--color-one);
}

.bottom {
    border-bottom: 16px solid var(--color-one);
}

.scrollable-container {
    width: 98%;
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none; /* Para navegadores Firefox */
    -ms-overflow-style: none; /* Para navegadores Internet Explorer/Edge */
    white-space: nowrap;
    cursor: grab;
}

.scrollable-container::-webkit-scrollbar {
    display: none;
}

.scroll-box {
    display: flex;
    align-items: center;
    gap: 15px;
    height: fit-content;
    width: max-content;
}

.oculto {
    display: none;
}

.img {
    height: 340px;
    width: 191px;
    border-radius: 10px;
    transition: all 200ms;
    background-size: 191px 340px;
    background-repeat: no-repeat;
}

.main-two {
    background-color: rgb(255, 250, 228);
    position: relative;
    gap: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

@media screen and (min-width: 800px) {
    .animado {
        justify-content: center;
    }
}

@media screen and (min-width:940px) {
    .capa {
        justify-content: center;
    }
}

@media screen and (min-width:1012px) {
    .banner {
        justify-content: center;
    }
}

@media screen and (min-width:1507px) {
    .interativo {
        justify-content: center;
    }
}

@media screen and (min-width:2090px) {
    .simples {
        justify-content: center;
    }
}