.scrollable-container {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    cursor: grab;
}

.scroll-box {
    display: flex;
    gap: 15px;
    height: fit-content;
}

.video {
    cursor: pointer;
    width: 191px;
    border: 1px solid white;
    border-radius: 10px;
}

@media screen and (max-width:1710px) {
    .scrollable-container {
        justify-content: left;
    }
}