* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrollable-container {
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid red;
    overflow: hidden;
    white-space: nowrap;
    cursor: grab;
}

.scroll-box {
    display: flex;
    gap: 15px;
    height: fit-content;
    border: 1px solid;
}

.box-img {
    width: 191px;
    height: 300px;
    border: 1px solid;
    border-radius: 10px;
    background-size: contain;
}


.b-1 {
    background-image: url('../img/b-1.jpg');
}

.b-2 {
    background-image: url('../img/b-2.jpg');
}

.b-3 {
    background-image: url('../img/b-3.jpg');
}

@media screen and (max-width:1650px) {
    .scrollable-container {
        justify-content: left;
    }
}